.fixedimg{
  background-image: url('./Assets/homeBanner.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover; /* Stretches the image to fit */

}
.inter {
  font-family: "Inter", serif;
}
.poppins {
  font-family: "Poppins", serif;
}

.slick-slide>div {
  margin: 0px 10px;
}